.userMessages { width: 267px; background: #f4f4f4; height: 100%;  position: fixed; left: 90px; z-index: 1000;}
	.userMessages .searchBlock { height: 47px; padding: 35px 26px 0 30px;}
	.userMessages .searchBlock input { width: 190px; float: left; background: none; border: none; box-shadow: none; margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-size: 15px;}
	.userMessages .searchBlock .glyphicons.search:before { color: #616166; font-size: 15px;}
	.userMessages .searchBlock .glyphicons.search { float: right; margin-top: -2px;}
	

	.userMessages .userItem { border-top: 1px solid #e4e6e8; padding: 17px 18px 15px 24px; color: #444; }
		.userMessages .userItem.active { background: #e5f0ef;}
		.userMessages .userItem:hover { cursor: pointer; background: #e5f0ef; }
		.userMessages .userItem .ava { float: left; width: 50px; height: 50px; display: block; border-bottom: 2px solid #23b5ae;}
		.userMessages .userItem .topName { margin: 0 0 0 67px;}
		.userMessages .userItem .name { font-weight: 700; font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 122px;}
		.userMessages .userItem .name span { color: #000;}
		.userMessages .userItem .time { color: #818181; font-size: 11px; float: right; line-height: 23px;}
		.userMessages .userItem .message { font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 135px;}
		.userMessages .userItem .badge-important { float: right; margin: 0 3px 0 0;}